﻿
table {
    width: 100%;
}

td {
    vertical-align: top;
}

#title {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    vertical-align: middle;
}

#content {
    padding: 20px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

#email-data-textarea {
    width: 100%;
    height: 100%;
    min-height: 500px;
    display: block;
}

#email-data-submit {
    height: 50px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#result-title-container {
    width: 100%;
    vertical-align: middle;
    padding-left: 4px;
}

#result-title {
    font-weight: bold;
    font-size: 24px;
}

#result-data {
    padding-left: 8px;
}

.parser-section {
    width: 30%;
    display: inline-block;
}

.form-control-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-item {
    display: block;
}